

body {
    background-color: #00ffbf;
    margin: 0px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    
}

nav > a{
    color:darkblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size:20pt;
}

nav > a:hover{
    text-decoration: underline;
}

.container {
	width: 600px;
	margin: 0 auto;
}


section article {
	background-color: #fff;
	margin: 1rem 0;
	padding: 0.25rem 0;
}

post{
	
width: 200 px;
}

section article h2, section article p {
	margin: 1rem;
}

footer {
    background-color: silver;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}